services:
    vrisini.viregistration.listener.registration:
        class: Vrisini\ViRegistrationBundle\EventListener\RegistrationListener
        arguments:
            - '@contao.security.frontend_user_provider'
            - '@security.token_storage'
            - '@database_connection'
            - '@logger'
            - '@event_dispatcher'
            - '@request_stack'
            - '@contao.security.user_checker'
            - '@contao.security.authentication_success_handler'
        tags:
            - { name: 'contao.hook', hook: 'createNewUser' }
            - { name: 'monolog.logger', channel: 'vrisini_viregistration' }
